body {
    background-color: #faf7f2;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.time {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 8px 0;
}



