body {
  background-color: #faf7f2;
  margin: 25px 100px;
  font-family: "Anek Telugu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 38px;
}

.time {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 8px 0;
  text-align: center;
}

.time time {
  background-color: rgba(141, 120, 73, 0.5);
  display: inline-block;
  text-transform: uppercase;
  padding: 2px;
  font-weight: bold;
}

article {
  column-count: 3;
  column-gap: 20px; 
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-top: 25px;
  text-align: justify;
  column-rule: solid;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 29px;
  margin-top: 15px;
}

blockquote {
  column-span: all;
  font-size: 25px;
  font-weight: bold;
}

blockquote::after {
  content: '"';
}

blockquote::before {
  content: '"';
}

h3 {
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 4px;
}

ul {
  list-style-type: '☕ ';
}

figure {
  float: left;
  margin: 0;
  margin-right: 20px;
}

figure img {
  width: 130px;
  filter: grayscale(50);
}

figcaption {
  font-size: 12px;
  text-align: center;
}

h1, h2, h3 {
  font-family: "Anek Telugu", sans-serif;
  font-weight: bold;
  font-style: normal;
}
